{% extends 'index.html' %}


{% block linkStyle %}
    <link rel="stylesheet" href="../static/css/aboutUs.css">
{% endblock linkStyle %}
    

{% block title %}
    <title>About Us</title>
{% endblock title %}


{% block content %}
<div id="mainContent">
    <h1 id="header">About Us</h1>
    <div id="content">
        <h1>Privicy Policy</h1>
        <p>
            <span id="big">CV Making Website</span> or CMWS is a website that is created in 2021 for those of you who not found working in microsoft offices or other kind of word processor  to create a cv.
        </p>
        <p>
            In this Website you just have to Enter required information and the website will create a cv that you can download as pdf or save in our databae for later uses.
            Be carefull when your are Entering your inputs in cv. Make sure no one is watching you when you are Entering your data in our website. Since all of Information for cv is 
            very sensitive information. So anyone can steal some of your information just by looking when you are typing. So if anyone have your data it will not count as our fault.
            but no one will able to see all infomation of your whole cv as long as you don't give them downloaded cv or Your user account. If you find some problem and changes that 
            we should know about just email us bellow is our contact info.
        </p>
        <h1>Contact Info</h1>
        <p id="contactInfo">
            <span id="label">Developed By:</span> <span>Nurul Hafiz Likhon </span>
            <span id="label">Email: </span> <span>hafizlikhon@gmail.com</span>
            <span id="label">Phone:</span> <span> +8801531379620</span>
            <span id="label">Linkdin:</span> <a href="https://www.linkedin.com/in/nurul-hafiz-likhon-991b09204/" style="text-decoration-color: rgb(0, 134, 243);color: rgb(0, 165, 241);">Click Here...</a>
            <span id="label">Facebook Page:</span><a href="https://www.facebook.com/Hafizlikhon143" style="text-decoration-color: rgb(0, 134, 243);color: rgb(0, 165, 241);">Creative Programmers...</a>
        </p>
    </div>
</div>
{% endblock content %}