<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/login&register.css">
    <style>
        #registerForm :nth-child(12) {
            grid-column: 1/3;
            margin: auto;
        }
        #registerForm :nth-child(11) {
            grid-column: 2/2;
            margin: auto;
        }
    </style>
    <title>Login & Register</title>
</head>
<body>
    <div id="clipBoard">
        <div id="clipBoardBody">
        <div id="container2">
            <div id="clipBoardTop">
                <h1>Login</h1>
            </div>
            <form action="Login" method="post" id="loginForm">
                <div id="label">
                <label for="userName">UserName:</label>
                <div id="csrf">{% csrf_token %}</div>
                </div>
                <input type="text" name="userName" id="userName">
                <label for="password">Password:</label>
                <input type="password" name="password" id="password">
                <input type="submit" value="Log In" id="formBtn">
            </form>
                <p id="d1">If You Don't have any account click <span id="loginBtn1">Register</span> to create an Account</p>
        </div>
        <br>
        <div id="container" class="unMark">
            <div id="clipBoardTop">
                <h1>Register</h1>
            </div>
            <form action="register" method="post" id="registerForm">
                {% csrf_token %}
                <label for="firstName" id="label">First Name:</label>
                <input type="text" name="firstName" id="firstName">
                <label for="lastName" id="label">Last Name:</label>
                <input type="text" name="lastName" id="lastName">
                <label for="email" id="label">Email:</label>
                <input type="email" name="email" id="email">
                <label for="password1" id="label">Password:</label>
                <input type="password" name="password1" id="password1">
                <label for="password2" id="label">Re-Enter Password:</label>
                <input type="password" name="password2" id="password2">
                <div id="containerBtn"><input type="submit" value="Sign Up" id="formBtn"></div>
            </form>
            
            {% for message in messages %}
                <p style="text-align: center;">{{message}}</p>
            {% endfor %}
            <p id="d2">If You Don't have any account click <span id="loginBtn2">Sign In</span> to login</p>
        </div>
    </div>

    
    </div>
    
    <script src="/static/js/login.js"></script>
</body>
</html>