
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/user.css">
</head>
<body>
    <button id="backButton"><a href="{% url 'home' %}" style="text-decoration: none; color: #fff;" ><</a></button>
    <div id="mainContainer">
        <form action="password" method="post">
            {% csrf_token %}
        <div id="mainHeader"><h1>User Password Change</h1></div>
        <div id="userInfo">
            <label for="oldPassword">Older Password:</label>
            <div id="oldPassword" class="ele">{{form.old_password}}</div>
            <label for="newPassword">New Password:</label>
            <div id="newPassword" class="ele">{{form.new_password1}}</div>
            <label for="newPassword2">Conform Password:</label>
            <div id="newPassword2" class="ele">{{form.new_password2}}</div>
            <label for="helptext">Condition:</label>
            <div id="helptext" style="border: 1px rgb(12, 207, 126) solid;border-radius: 10px;margin: 5px;padding: 10px;">
                Your password can’t be too similar to your other personal information. <br>
                Your password must contain at least 8 characters. <br>
                Your password can’t be a commonly used password. <br>
                Your password can’t be entirely numeric <br>
            </div>
            <input type="submit" value="Update Password" id="update"> <button id="CPassword"><a href="{% url 'user' %}" style="text-decoration: none; color: #fff;">Cancel Change</a></button>
        </div>
        </form>
    </div>
</body>
</html>