
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/user.css">
</head>
<body>
    <button id="backButton"><a href="/" style="text-decoration: none; color: #fff;" ><</a></button>
    <div id="mainContainer">
        <div id="mainHeader"><h1>User Profile</h1></div>
        <div id="userInfo">
            <label for="fullName">Full Name:</label>
            <div id="fullName" class="ele">{{request.user.first_name}} {{request.user.last_name}}</div>
            <label for="userName">Username:</label>
            <div id="userName" class="ele">{{request.user.username}}</div>
            <label for="email">Email:</label>
            <div id="email" class="ele">{{request.user.email}}</div>
            <label for="cvCount">CV-saved:</label>
            <div id="cvCount" class="ele">{{count}}  CV has been created</div>
            <button id="update"><a href="{% url 'Edit' %}" style="text-decoration: none;color: #fff;">Update</a></button> <button id="CPassword"><a href="{% url 'password' %}" style="text-decoration: none;color: #fff;">Change Password</a></button>
        </div>
    </div>
</body>
</html>